<h2>OF AND FROM</h2>
<p>
    of convert the argument into observable sequence 
    example of(1,2,3) => 1 2 3
    .we can call it an Array.
</p>

<div>
    <strong>EX - 01(OF)</strong>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">
               <strong>Data: </strong> of(Anup,Shekhar,Sharma) 
            </p>
            <ul id="unordered">
                
            </ul>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <p class="bg-light py-2 px-3 border rounded">
           <strong>Data: </strong> of(a:Ankit,b:bishwas,c:chandani) 
        </p>
        <ul>
            <li>{{storeValue.a}}</li>
            <li>{{storeValue.b}}</li>
            <li>{{storeValue.c}}</li>
        </ul>
    </div>

</div>



<div class="row">
    <div class="col-md-6">
        <p  class="bg-light py-2 px-3 border rounded">
            <strong>From : </strong>
            We can store array value in From function and iterate over it .
            from([10,20,30])
        </p>

            <ul id="fromContainer">
            
            </ul>
        
    </div>

</div>


<div class="row">
    <div class="col-md-6">
        <p  class="bg-light py-2 px-3 border rounded">
            <strong>Promise : </strong>
            Convert Promise into Observable
        </p>

        <div>{{promsiseResponse}}</div>
        
    </div>

</div>


<div class="row">
    <div class="col-md-6">
        <p  class="bg-light py-2 px-3 border rounded">
            <strong>String to Observable : </strong>
        </p>

      <div>
        <ul id="container5"></ul>
      </div>
        
    </div>

</div>






